.logementContainer {
  max-width: 1240px;
  margin: 0 auto;
 

  .carousel {
    margin: 50px 20px;
    position: relative;

    img {
      width: 100%;
      height: 415px;
      object-fit: cover;
      border-radius: 25px;
    }

    .right,
    .left {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      font-size: 80px;
      color: rgb(255, 255, 255);
      z-index: 10;
    }

    .right {
      right: 20px;
    }

    .left {
      left: 20px;
    }
    .indexPicture {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      color: white;
      font-weight: 500;
      font-size: 18px;
      line-height: 25.67px;
    }

    .active {
      display: none;
    }
  }
  .detailsContainer {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    position: relative;
    z-index: 1000;
    background-color: white;
   
   
    .details {
      .title {
        h2 {
          font-weight: 500;
          font-size: 36px;
          line-height: 51.34px;
          color: #ff6060;
        }
        p {
          font-weight: 500;
          font-size: 18px;
          line-height: 25.67px;
          color: #000000;
        }
      }
      .tagsContainer {
        display: flex;
        flex-wrap: wrap;
      }
    }
    .hostConatiner {
      min-width: 167px;
   
    }
  }

  .collapseContainer {
    display: flex;
    justify-content: space-between;
    gap: 76px;
    margin: 0 20px;
  }
}
