main {
  max-width: 1240px;
  margin: 0 auto;
}
.containerCard {
  margin: 50px 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: #f6f6f6;
  border-radius: 25px;
  padding: 50px;

  // media queries
  @media (max-width: 768px) {
    padding: 0px;
    background-color: white;
    margin: 20px 20px;
  }
}
