.collapse {
  width: 100%;

  .summary {
    position: relative;
    z-index: 1;
    list-style: none;
    font-weight: bold;
    padding: 10px 20px 10px 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    background-color: #ff6060;
    color: #ffffff;
    border: none;
    outline: none;
    min-width: 50%;
    height: 52px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25.67px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    i {
      cursor: pointer;
      color: #ffffff;
      font-size: 24px;
      width: 32px;
      height: 32px;
      align-content: center;
    }
  }

  .content {
    min-width: 50%;
    padding: 20px;
    border-radius: 10px 10px 5px 5px;
    background-color: #f6f6f6;
    max-height: 0px;
    overflow: hidden;
    font-weight: 400;
    font-size: 18px;
    line-height: 25.67px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transform: translateY(-100%);
    transition: all 0.5s ease;
    opacity: 0;

    &.open {
      transform: translateY(0);
      max-height: 500px;
      opacity: 1;
    }
  }
}
