footer {
  min-height: 209px;
  padding: 66px;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 28px;

  p {
    width: max-content;
    font-weight: 500;
    font-size: 24px;
    line-height: 34.22px;
    text-align: center;
    color: #ffffff;
  }

  // media queries
  @media (max-width: 768px) {
    p {
      font-size: 12px;
    }
  }
}
